/* reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

input,button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-align: center;
}

.custom-alart {
    width: 100%;
    line-height: 1;
    border-radius: 5px;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

ul {
    list-style: none;
}

/* set style for header */
header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(to left, darkblue, rgb(132, 140, 212));
    color: white;
}

/* set style for aside */
input {
    border: 2px solid rgb(204, 202, 202);
}

.aside,.section {
    padding: 0;
}

.container {
    max-width: 96%;
    padding: 10px;
}

.input-group {
    width: 96%;
    border-bottom: 2px solid rgb(204, 202, 202);
}

.searching-history-group {
    width: 96%;
}

button {
    border: none;
    background-color: grey;
    cursor: pointer;
    margin: 10px 0;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.skyblue {
    background-color: skyblue;
}

/* set style for section */
.current-city-weather {
    padding: 5px;
    border: 1px solid black;
}

.future-days {
    display: flex;
    justify-content: space-between;
}

/* set style for each day future */
.cards {
    background-color: darkslategray;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 20px;
    padding: 5px;
    line-height: 1.5;
}

.bolder {
    font-weight: bolder;
}

.current {
 font-weight: 600;
}




/* test area  */
.red {
    color: white;
    background-color: red;
    border-radius: 5px;
}

.green {
    color: white;
    border-radius: 5px;
    background-color: green;
}

.yellow {
    color: white;
    border-radius: 5px;
    background-color: yellow;
}

